include README.md
include CHANGELOG.md
include RELEASING.md
include pyproject.toml
include .github/wheels-test.py
include packaging/Dockerfile.decoder-artifact

recursive-include pillow_heif *.c *.h
include pillow_heif/py.typed

graft libheif
graft pi-heif
graft tests
graft examples

exclude *.yaml
exclude *.yml

prune docs
prune benchmarks

recursive-exclude **/__pycache__ *
